<body>
<form action="{% url 'analyse' %}" method="get">
    <input type="submit" value="Информация по анализу или его запуск">
</form>
<form action="{% url 'database' %}" method="get">
    <input type="submit" value="Информация по таблицам бд">
</form>
<form action="{% url 'users' %}" method="get">
    <input type="submit" value="Информация по пользователям">
</form>
<form action="{% url 'vectors' %}" method="get">
    <input type="submit" value="сформировать вектора">
</form>
<form action="{% url 'patterns' %}" method="get">
    <input type="submit" value="найти наилучших топ 10 признаков">
</form>
<form action="{% url 'ML' %}" method="get">
    <input type="submit" value="запустить обучение">
</form>
<form action="{% url 'CombineML' %}" method="get">
    <input type="submit" value="скомбинировать несколько алгоритмов МО">
</form>
</body>