<head>
  <style type="text/css">
   #teams, #clicks, #patterns, #algoritms, #action { position: absolute; }
   #teams {
    left: 0px;
   }
   #clicks {
    left: 100px;
   }
   #patterns {
    left: 200px;
   }
   #algoritms {
    left: 400px;
   }
   #action {
    left: 550px;
   }
  </style>
</head>
<body>


    <dif class="container" style="..." >
         <form action="{% url 'ML' %}" method="post">
            {% csrf_token %}

             <!-- Выбор команды и ввод префикса к папке -->
             <div id="teams">
                <p>select team:</p>
                {% for name in teams %}
                <p><input type="checkbox" name={{name}} value="+">{{ name }}</p>
                {% endfor %}


             </div>

             <!-- Выбор количества кликов -->
             <div id="clicks">
                <p>select clicks:</p>
                {% for num in clicks %}
                <p><input type="checkbox" name={{num}} value="+">{{ num }}</p>
                {% endfor %}
             </div>

             <!-- Выбор признаков -->
             <div id="patterns">
                <p>patterns:</p>
                {% for i in patterns %}
                <p><input type="checkbox" name={{i}} value="+">{{ i }}</p>
                {% endfor %}
             </div>

             <!-- Выбор алгоритма -->
             <div id="algoritms">
                <p>ML algorithms:</p>
                {% for i in algorithms %}
                <p><input type="checkbox" name={{i}} value="+">{{ i }}</p>
                {% endfor %}
             </div>

             <!-- Выбор типа действия -->
             <div id="action">
                 <p>What do you want?</p>
                 {% for i in action %}
                <p><input type="checkbox" name={{i}} value="+">{{ i }}</p>
                {% endfor %}
                 <p>please, input info:</p>
                 <p><input type="text" name="prefix" class="form-control" placeholder="prefix by folder"></p>
                 <input type="submit" value="Do">
             </div>
      </form>
    </dif>
</body>